:root {
  /*  ==================== COLOR BRAND ==================== */
  --r-color-brand-primary-default: #e41a15;

  --r-color-brand-primary-light: #eb5350;
  --r-color-brand-primary-hover: #bb2420;
  --r-color-brand-primary-pressed: #ab1410;

  --r-color-brand-secondary-default: #0f1320;

  --r-color-brand-secondary-light: #6e7078;
  --r-color-brand-secondary-hover: #383c45;
  --r-color-brand-secondary-pressed: #0c0e13;

  /* ==================== COLOR NEUTRAL ==================== */
  --r-color-neutral-darkest: #0c0e13;

  --r-color-neutral-50: #bfbfbf;
  --r-color-neutral-60: #6e7078;
  --r-color-neutral-70: #585c65;
  --r-color-neutral-80: #383c45;
  --r-color-neutral-90: #383c45;

  --r-color-neutral-lightest: #ffffff;

  --r-color-neutral-10: #f5f5f5;
  --r-color-neutral-20: #ebebeb;
  --r-color-neutral-30: #e0e0e0;
  --r-color-neutral-40: #cecece;

  /* ==================== COLOR FEEDBACK ==================== */
  /* INFO */
  --r-color-info-pure: #2680eb;

  --r-color-info-10: #f5faff;
  --r-color-info-20: #edf6ff;
  --r-color-info-30: #e3effc;
  --r-color-info-40: #96c2f2;
  --r-color-info-50: #3c80d0;
  --r-color-info-60: #2d70c0;

  /* SUCCESS */
  --r-color-success-pure: #00ba88;

  --r-color-success-10: #bfeee1;
  --r-color-success-20: #58c0a4;
  --r-color-success-30: #20ab86;
  --r-color-success-40: #109c76;

  /* WARNING */
  --r-color-warning-pure: #ff9a32;

  --r-color-warning-10: #fdf4e2;
  --r-color-warning-20: #e7a073;
  --r-color-warning-30: #df8045;
  --r-color-warning-40: #bf7425;

  /* ERROR */
  --r-color-error-pure: #bd0600;

  --r-color-error-10: #FFE1E0;
  --r-color-error-20: #ec5d5a;
  --r-color-error-30: #be3430;
  --r-color-error-40: #9e1510;

  /* ==================== COLOR EXTENDED ==================== */
  /* VIOLET */
  --r-color-extended-violet-pure: #681cd4;

  --r-color-extended-violet-10: #f0e8fb;
  --r-color-extended-violet-20: #d9c6f4;
  --r-color-extended-violet-30: #b48dea;
  --r-color-extended-violet-40: #8e55df;

  /* ORANGE */
  --r-color-extended-orange-pure: #ffae0a;

  --r-color-extended-orange-10: #fff5ea;
  --r-color-extended-orange-20: #f8dfc3;
  --r-color-extended-orange-30: #fac793;
  --r-color-extended-orange-40: #fdb063;

  /* YELLOW */
  --r-color-extended-yellow-pure: #ffe732;

  --r-color-extended-yellow-10: #fff9c4;
  --r-color-extended-yellow-20: #fff176;
  --r-color-extended-yellow-30: #ffe732;
  --r-color-extended-yellow-40: #fbc02d;

  /* RED */
  --r-color-extended-red-pure: #e41a15;

  --r-color-extended-red-10: #fce8e8;
  --r-color-extended-red-20: #f8c6c4;
  --r-color-extended-red-30: #f28c8a;
  --r-color-extended-red-40: #eb5350;

  /* MARINE */
  --r-color-extended-marine-pure: #8fdbdd;

  --r-color-extended-marine-10: #f4fbfc;
  --r-color-extended-marine-20: #e3f6f7;
  --r-color-extended-marine-30: #c7edee;
  --r-color-extended-marine-40: #abe4e5;

  /* ==================== COLOR ACCESSIBILITY ====================*/
  --r-color-accessibility-light: #1be5ea;
  --r-color-accessibility-dark: #202532;
}